# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/

# Build
dist/
dist-ssr/
build/

# Local env
*.local
.env
.env.local
.env.*

# .NET
bin/
obj/

# Sensitive configs
appsettings.json
appsettings.Development.json

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db
*.http

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sw?
*.lscache