.header {
    background-color: #244999;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
}

.header h1 {
    color: white;
    font-size: 24px;
    margin: 10px;
}

.header button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}