.header {
    background-color: #244999;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* centraliza o H1 */
    position: sticky;
    top: 0;
    z-index: 10;

    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.header h1 {
    color: white;
    font-size: 24px;
    margin: 10px;
}

/* botão esquerda */
.header .left {
    position: absolute;
    left: 20px;
}

/* botão direita */
.header .right {
    position: absolute;
    right: 20px;
}

.header .button {
    background-color: white;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}